body {
    font-family: 'Inter' sans-serif;
    src: url(".../Assets/font/Inter.tff");
    font-weight: 500;
    background-color: #15121c;
    margin:0;
}

h2 {
    color:azure;
    position:absolute;
    left: 5%;
    font-weight: 400;
}

h3 {
    color:#c9cbff;
    font-weight: 500;
}

a {
    color: red;
    text-decoration: none;
}

.Main-Text {
    color: #e49cb3;
    font-weight: 900;
    position:absolute;
    top:42%;
    left:42%;
    margin:none;
}

.Arrow {
    color: #1e1e28;
    position:absolute;
    top:89%;
    left:49%;
    margin:none;
}

.mastodon {
    color: #e38c8f;
    position:absolute;
    top:45%;
    left:3%;
    margin:none;
}

.github {
    color: #e38c8f;
    position: absolute;
    top:56%;
    left:3%;
    margin:none;
}

.name {
    color: #988ba2;
    position:absolute;
    top:51%;
    left:10%;
    margin:none;
    font-weight: 900;
}

.mainpage {
    position: absolute;
    top: 120%;
    text-align: center; 
    padding-bottom:20px;
}
main{
    border:0px;
    margin:0px;
    padding:0px;
    width:99%;
    padding-bottom: 50px;
}

.main {
    position:absolute;
    top: 49%;
    width:70%;
    right:15%;
}

img{
    top: 150%;
}
